.nav_links div,
.wwdcb {
    border: 1px solid white;
    width: 10vw;
    text-align: center;
    margin: 2px;
    /* border-radius: 15px; */
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
}

/* .nav_links_reverse div{
    border: 1px solid black;
} */

.nav_links div:hover,
.wwdcb:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
    font-weight: bold;
}

.footer_nav div {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
}

.active_question {
    background-color: #37424C !important;
    color: white;
    transition: .5s;
}

.cus1 {
    background-image: url('../images/cus1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}

.activePage {
    background-color: white;
    color: black;
    font-weight: bold;
}

.big_text {
    font-size: 4vw;
}

.normal_text {
    font-size: 1vw;
}

.medium_text {
    font-size: 1.5vw;
}

.semi_large_text {
    font-size: 2vw;
}

.logo {
    height: 100px;
    width: 150px;
}

.cus_cover {
    height: 600px;
}

.add-color {
    background-color: black;
    z-index: 2;
    transition: .5s;
}


@keyframes fade {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/* @keyframes changeAngle {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
} */

.change-angle{
    transform: rotate(180deg);
    transition: .5s;
}
.reverse-angle{
    transform: rotate(0deg);
    transition: .5s;
}

/* .myfade {
    animation-name: fade;
    animation-duration: 0.5s;
} */

@media screen and (max-width:768px) {
    .logo {
        height: 65px;
        width: 90px;
    }

    /* .big_text {
        font-size: 30px;
    } */

    .question {
        font-size: 12px;
    }

    .cus_cover {
        height: 220px;
    }
}

@media screen and (min-width: 1440px){
    body{
        width: 1440px; 
        /* border: 10px solid red; */
        margin: auto;
    }
}

.dropdown-content{
    display: none;
}
.dropdown_menu:hover .dropdown-content{
    display: block;
}