.landscape{
    background-image: url('../images/landscape.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 830px;
}
.news{
    height: 700px;
}

@media screen and (max-width:768px){
    .news{
        height: 830px;
        margin-top: -130px;
        /* background-image: url('../images/canvas.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center; */

    }
    .newscb{
        width: 150px;
    }
    .news p{
        text-align: center;
    }
}